/* css reset */

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}



/* styling */

body {
    font-family: 'Adobe Caslon Pro', serif;
/*    font-family: Georgia, Times, "Times New Roman", serif; */
    margin: auto;
    background-color: #F6F5E4;
    color: #333;
    line-height: 1.8em; 
}
    
p, h1, h3, blockquote, table {
    width: 75%;
    max-width: 700px;
    margin: auto;
}

h1, h2, h3 {
    font-weight: normal;
    color: #403F3B;
    text-align: center;
}

p, li {
    margin-bottom: 2em;
    line-height: 1.5em;
}

p {
    font-size: 105%;
}

h1 {
    font-size: 4em;
    margin-top: 1em;
    margin-bottom: .2em;
    letter-spacing: 0.02em;
}

h2 {
    width: 50%;
    margin: auto;
    font-size: 2.25em;
    margin-bottom: 1em;
    margin-top: 2em;
    
    padding: .5em 0;
    border-top: 1px solid #403F3B;
    border-bottom: 1px solid #403F3B;
    border-radius: 5px;
}

h3 {
    font-size: 1.8em;
    margin-bottom: 1em;
    
    padding: .5em 0;
    border-top: 1px solid #403F3B;
    border-bottom: 1px solid #403F3B;
    border-radius: 5px;
    width: 30%;
}

header h2 {
    font-style: italic;
    font-size: 1.8em;
    color: #403F3B;
    margin-top: auto;  
    margin-bottom: 2em;
    
    border: none;
}

header h3 {
    font-size: 1.2em;
    margin-bottom: .2em;
    padding: 0;
    border: none;
}

b {
    color: #403F3B;
}


/* footer */

footer small {
    font-size: .7em;
    font-style: italic;
}

footer p {
    text-align: center;
}

.anchor {
    text-transform: uppercase;
    font-size: 0.75em;
}

.bottom {
    text-align: center;
    margin-bottom: 1em;
}

.contact {
    margin: .5em 1em; /* work on the spacing! Margin doesn't seem to be working? */
}



/* links and nav */

a {
    color: #403F3B;
    text-decoration: none;
}

a:hover {
    color: #7F7F76;
    border-bottom: 1px dotted;
}

nav {
    width: 100%;
    margin: auto;
    padding: 1em 0;
    border-top: 1px solid #403F3B;
    border-bottom: 1px solid #403F3B;
    border-radius: 5px;
    margin-bottom: 4em;
    background: rgba(0,0,0,.1);
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav ul li {
    display: inline;
    margin: 20px;
}

nav a:hover {
    border-bottom: none;
}



/* images */

img {
    display: block;
    margin: 1em auto;
    padding: 0;
    max-width: 100%
}



/* table */

table {
    margin: auto;
    margin-bottom: 2em;
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
}

caption {
    line-height: 1.5em;
    margin-bottom: 1.5em;
    text-transform: uppercase;
}

th {
    color: #F6F5E4;
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
    background: #403F3B;
}

th, td {
    padding: .6em;
}

table, td {
    background: rgba(0,0,0,.1);
    border: 1px solid #fff;
}



/* MEDIA QUERIES */

/* tablet */
@media (max-width: 50em) {
    body {
        width: 85%;
    }
    
    article {
        width: 95%;
        padding: 0.5em;
    }
    
}


/* mobile */
@media (max-width: 35em) {
    body {
        margin: auto 0;
        width: 100%;
        font-size: 115%;
    }
   
    table {
        font-size: 90%;
    }
    
    article {
        width: 90%;
    }
    
    h1 {
        font-size: 3em;
        line-height: 1.3em;
    }
    
    blockquote {
        font-size: 90%;
    }
    
    footer p {
        font-size: 80%;
    }
}